<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1 class="text-center"><%= @user.name %>さんの My Page</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <% if @user.id == current_user.id %>
        <div class="col-sm-6 text-center border border-5 py-4 mb-4">
            <p>ユーザー名: <%= current_user.name %></p>
            <p>メールアドレス: <%= current_user.email %></p>
            <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-secondary" %>
            <%= link_to "退会", unsubscribe_users_path, class: "btn btn-danger ml-3" %>
        </div>
        <% end %>

      <div class="card mb-4 w-75">
        <% @posts.each do |post| %>
          <div class="pl-2 d-flex g-0 border-bottom border-light">
            <div class="col-md-6 row pt-5">
              <% if post.images.attached? %>
                <% post.images.each do |image| %>
                <div class="pl-2 pt-2 pb-2">
                  <%= image_tag image, size: "90x90" %>
                </div>
                <% end %>
              <% else %>
                <div class="pl-2">
                  <%= image_tag 'no_image', size: "90x90" %>
                </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="card-title d-inline-block text-truncate" style="max-width: 150px;"><%= link_to post.title, post_path(post) %></h4>
                <p class="card-text"><%= post.user.name %> / <%= link_to post.post_genre.name, posts_path(genre: post.post_genre.name) %></p>
                <h5 class="card-text d-inline-block text-truncate" style="max-width: 150px;"><%= post.body %></h5>
                <p class="card-text"><small class="text-body-secondary"><%= post.created_at.strftime('%Y年%m月%d日') %></small></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>