<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1 class="text-center"><%= current_user.name %>さんの My Page</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center border border-5 py-4">
            <p>ユーザー名: <%= current_user.name %></p>
            <p>メールアドレス: <%= current_user.email %></p>
            <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-primary" %>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-sm-6">
            <h2 class="text-center border-bottom border-secondary">MY POST</h2>
            <% @posts.each do |post| %>
              <div>
                <% if post.images.attached? %>
                    <% post.images.each do |image| %>
                      <%= image_tag image, size: "100x100" %> <br>
                    <% end %>
                <% else %>
                    <%= image_tag 'no_image', size: "100x100" %><br>
                <% end %>
                <h4><%= link_to post.title, post_path(post) %></h4>
                <h5><%= post.body %></h5>
                <p>投稿ジャンル: <%= link_to post.post_genre.name, posts_path(genre: post.post_genre.name) %> </p>
                <p>投稿者: <%= post.user.name %></p>
                <%= post.created_at %>
              </div>
            <% end %>
        </div>
    </div>
</div>