<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1 class="text-center"><%= current_user.name %>さんの My Page</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center border border-5 py-4 mb-4">
            <p>ユーザー名: <%= current_user.name %></p>
            <p>メールアドレス: <%= current_user.email %></p>
            <% if @user.id == current_user.id %>
            <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-secondary" %>
            <%= link_to "退会", unsubscribe_users_path, class: "btn btn-danger ml-3" %>
            <% end %>
        </div>
    </div>
    
    <div class="card mb-4 w-100">
      <% @posts.each do |post| %>
        <div class="row g-0">
          <div class="col d-block mx-auto">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
                <%= image_tag image, size: "100x100" %> <br>
              <% end %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %><br>
            <% end %>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title text-truncate"><%= link_to post.title, post_path(post) %></h4>
              <p class="card-text"><%= post.user.name %> / <%= link_to post.post_genre.name, posts_path(genre: post.post_genre.name) %></p>
              <h5 class="card-text text-truncate"><%= post.body %></h5>
              <p class="card-text"><small class="text-body-secondary"><%= post.created_at.strftime('%Y年%m月%d日') %></small></p>
            </div>
          </div>
        </div>
      <% end %>
</div>
</div>