<div class="container">
    <div class="row">
        <div class="col">
        <button type="button" class="btn btn-outline-info ml-3 mb-4" onclick="location.href='<%= posts_path(genre: 'リビング') %>';">リビング</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'キッチン') %>';">キッチン</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '浴室') %>';">浴室</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '玄関') %>';">玄関</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '脱衣所') %>';">脱衣所</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'トイレ') %>';">トイレ</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'ガレージ') %>';">ガレージ</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '庭') %>';">庭</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'クローゼット') %>';">クローゼット</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'ベッド') %>';">ベッド</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '洋室') %>';">洋室</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '和室') %>';">和室</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'シューズクローク') %>';">シューズクローク</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '階段') %>';">階段</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'テラス') %>';">テラス</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: 'バルコニー') %>';">バルコニー</button>
        <button type="button" class="btn btn-outline-info ml-3 mb-4"  onclick="location.href='<%= posts_path(genre: '廊下') %>';">廊下</button>
        </div>
    </div>
</div>


<div class="main-container">
</div>

