<h2>編集</h2>
<% if @post.errors.any? %>
  <h3><%= @post.errors.count %>error prohibited this obj from being saved:</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
  <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :images, multiple: true, id: 'list_images' %>
  <%= f.file_field :images, multiple: true, id: 'list_images' %>
  <%= f.file_field :images, multiple: true, id: 'list_images' %>

  <%= f.submit '保存' %>

<% end %>

