<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center border-bottom border-secondary"><%= @genre %>Posts</h2>
        </div>
    </div>
  <div class="row justify-content-center">
    <div class="card mb-4 w-100">
      <% @posts.each do |post| %>
        <div class="pl-2 d-flex g-0">
          <div class="col-md-4 row pt-5">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
              <div class="pl-2 pt-2 pb-2">
                <%= image_tag image, size: "90x90" %>
              </div>
              <% end %>
            <% else %>
              <div class="pl-2">
                <%= image_tag 'no_image', size: "90x90" %>
              </div>
            <% end %>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title text-truncate"><%= link_to post.title, post_path(post) %></h4>
              <p class="card-text"><%= post.user.name %> / <%= link_to post.post_genre.name, posts_path(genre: post.post_genre.name) %></p>
              <h5 class="card-text text-truncate"><%= post.body %></h5>
              <p class="card-text"><small class="text-body-secondary"><%= post.created_at.strftime('%Y年%m月%d日') %></small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>