<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= image_tag image, size: "200x200" %> <br>
  <% end %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %><br>
<% end %>
<p><%= @post.title %></p>
<p><%= @post.body %></p>
<p>ジャンル:<%= @genre %></p>
<p>投稿者: <%= @post.user.name %></p>
<%= @post.created_at %>


<%= link_to "編集", edit_post_path(@post.id) %>
<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>