<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-12">
      <h2 class="text-center pb-3">全ユーザー一覧</h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>ユーザー名</th>
              <th>Eメール</th>
              <th>会員ステータス</th>
              <th>投稿</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.is_active ? '有効' : '退会済み' %></td>
              <td><%= link_to '投稿一覧へ', admin_user_path(user), class: 'btn btn-success' %></td>
              <td><%= link_to '削除', admin_dashboard_path(user), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
