<div class="containar">
  <div class="row justify-content-center mr-0">
    <div class="col-md-8 col-md-offset-3 mb-4">
      <div class="d-flex flex-wrap pb-5">
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <div class="pt-3 pl-3">
            <%= image_tag image, class: "img-fluid", size: "200x200" %>
          </div>
        <% end %>
      <% else %>
        <div class="pt-3 pl-3">
          <%= image_tag 'no_image', size: "200x200" %>
        </div>
      <% end %>
      </div>

      <div class="mb-3 mr-4 ml-4">
        <h4 class="text-break pb-2"><%= @post.title %></h4>
        <p class="text-break"><%= @post.body %></p>
        <div class="pt-4">ジャンル: <%= @genre %> ｜ 投稿者: <%= @post.user.name %></div>
        <p><%= @post.created_at.strftime('%Y年%m月%d日') %></p>
        <p>コメント件数：<%= @post.comments.count %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end"><%= link_to 'この投稿を削除', delete_post_admin_user_path(@post), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
      </div>

      <div class="mt-5 mb-3 mr-4 ml-4">
        <h3>コメント</h3>
        <% @post.comments.each do |comment| %>
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <%= comment.user.name %> さん
            <div class="text-right"><%= render "public/posts/output_evaluation", comment: comment %></div>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <small><%= comment.comment %></small>
              <footer class="blockquote-footer"><small><%= comment.created_at.strftime('%Y年%m月%d日') %></small>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end"><%= link_to "このコメントを削除", admin_delete_comment_path(comment), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
              </footer>
            </blockquote>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>